@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%; /* Branco */
    --foreground: 0 0% 10%; /* Preto */
    --input: 0 0% 90%;
    --border: 0 0% 80%;
  }

  .dark {
    --background: 240 10% 16%; /* Cinza escuro */
    --foreground: 0 0% 90%; /* Branco */
    --input: 240 10% 24%;
    --border: 240 10% 32%;
  }

  body {
    @apply bg-background text-foreground transition-colors duration-300;
  }
}
